<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginVersion</key>
	<string>2022.0.2</string>
	<key>ServerApiVersion</key>
	<string>3.0</string>
	<key>IwsApiVersion</key>
	<string>1.0.0</string>
	<key>CFBundleDisplayName</key>
	<string>Pioneer Receiver</string>
	<key>C2BundleName</key>
	<string>Pioneer Receiver</string>
	<key>CFBundleIdentifier</key>
	<string>com.nathansheldon.indigoplugin.PioneerReceiver</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>http://www.nathansheldon.com/files/Pioneer-Receiver-Plugin.php</string>
		</dict>
	</array>
</dict>
</plist>
